<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @artist.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @artist.last_name %>
</p>

<p>
  <b>Biography:</b>
  <%= @artist.biography %>
</p>

<p>
  <b>Dob:</b>
  <%= @artist.dob %>
</p>

<p>
  <b>Age:</b>
  <%= @artist.age %>
</p>

<p>
  <b>Musics:</b>
  <% @artist.musics.each do |m| %>
     <br/> <%= link_to m.name, m %>
  <% end %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
