<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Released at:</b>
  <%= @album.released_at %>
</p>

<p>
  <b>Artists:</b>
  <% @album.artists.each do |a| %>
    <%= link_to a.name, a %>  
  <% end %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
